{{!-- TO DO: fit the add burger line and button into the bar --}}
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper deep-orange darken-3">
      <a href="/" class="brand-logo right">...that is a tasty burger!</a>
      <form action="/" method="POST">
        <div class="input-field inline row">    
          <div class="col s7"><textarea placeholder="Add another!" type="text" name="burger" class="materialize-textarea left"></textarea></div>
          <div class="col s5"></div><button id="tastyBtn" class="waves-effect waves-light btn right" type="submit">ADD</button></div>
        </div>
      </form>
    </div>
  </nav>
</div>

{{!-- populates the list of available burgers --}}
<div class="row">
    <div class="row">
    </div>
    <div class="col s6 z-depth-3">
      <p>Available</p>
      <img class="center" width="200" src="/assets/img/burger.png">
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <i class="material-icons">room_service</i>
                  <span class="card-title">Burger #{{this.id}}</span>
                  <p>Burger Name: {{this.burger_name}}</p>
                </div>
                <div class="card-action">
                  <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class="waves-effect waves-light btn" type="submit">DEVOUR...CHOMP!</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  {{!-- populates the list of devoured burgers --}}
  <div class="col s6 z-depth-3">
    <p>Devoured!</p>
    <img class="center" width="250" src="/assets/img/tasty.png">
    </p>
      <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <i class="material-icons">room_service</i>
                  <span class="card-title">Burger #{{this.id}}</span>
                  <p>Burger Name: {{this.burger_name}}</p>
                </div>
                <div class="card-action">
                  <form action="/{{this.id}}?_method=PUT" method="POST">
                    {{!-- This line is needed to note the burger is not devoured  --}}
                    <input type="hidden" name="devoured" value="false">
                    <button class="waves-effect waves-light btn" type="submit">Add back to menu!</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </ul>
  </div>