<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Eat-Da-Burger!</title>
</head>
<body>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Burgers Available</a>
    </div>
  </nav>
</div>
  
  <img class="materialboxed center-align" width="450" src="/public/assets/img/burger.png">
  <p>Available</p>
  <ul>
    {{#each burgers}}
      {{#unless this.devoured}}
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <i class="material-icons">room_service</i>
                <span class="card-title">Burger #{{this.id}}</span>
                <p>Burger Name: {{this.burger_name}}</p>
              </div>
              <div class="card-action">
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <button class="waves-effect waves-light btn" type="submit">DEVOUR...CHOMP!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/unless}}
    {{/each}}
  </ul>
  <p>Devoured!</p>
    <ul>
    {{#each burgers}}
      {{#if this.devoured}}
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <i class="material-icons">room_service</i>
                <span class="card-title">Burger #{{this.id}}</span>
                <p>Burger Name: {{this.burger_name}}</p>
              </div>
              <div class="card-action">
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <button class="waves-effect waves-light btn" type="submit">DEVOUR...CHOMP!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </ul>

  <div class="container-fluid">
    <div class="row">
      <form action="/" method="POST" class="col 9">
        <div class="row">
          <div class="input-field col s9">
            <label>Add Another Tasty Burger</label>
            <textarea type="text" name="burger" class="materialize-textarea"></textarea>
          </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">ADD</button>
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <label>Update the Burger</label>
      
          {{#each burgers}}
            <form action="/{{this.id}}?_method=PUT" method="POST" class="col 9">
              <select name="{{this.id}}">
                <option value="{{this.id}}">{{this.burger_name}}</option>
              </select>
          {{/each}}
        <textarea type="text" name="plan" placeholder="burgers here"></textarea>
        <button class="waves-effect waves-light btn" type="submit">UPDATE</button>
      </form>      
    </div>
  </div>

<!-- Scripts -->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</body>
</html>